<% datafields = 'data-uid="%s" data-uri="%s"' % [job.uid, url(job.href)] %>
<li class="job <%= job["status"] %>" data-uid="<%= job.uid %>">
  <div class="name_column" title="<%= job["name"] %>" data-content='<%= job.render() %>'>
    <%= job["name"] %>
  </div>
  <div class="actions_column">
    <% @actions -= ["console"] if job["status"] != "running" %>
    <% @actions.each do |action| %>
      <% if action == "console" %>
        <a href="/jobs/<%= job.uid %>/console" target="_blank">
      <% end %>
      <img src="/img/<%= action %>.png" <%= datafields %> class="action <%= action %>" />
      <% if action == "console" %>
        </a>
      <% end %>
    <% end %>
  </div>
</li>
