<script type="text/javascript">
  $(function() {
    <% if (@edit ||= nil) %>
      <% if @edit["subtask_hrefs"].is_a?(Array) %>
        var subtasks = $("<div />");
        <% @edit["subtask_hrefs"].each do |subtask_href| %>
          <% subtask = VirtualMonkey::API::Task.get(subtask_href) %>
          new_div = $("<div></div>").text(<%= subtask["name"].inspect %>);
          new_div.appendTo(this);
          new_div.attr("data-content", <%= subtask.render() %>);
          new_div.attr("title", <%= subtask["name"].inspect %>);
          new_div.addClass("name_column");
          new_div.wrapAll("<li data-uid='" + <%= subtask["uid"].inspect %> + "' ></li>");

          new_actions = $("<div class='actions_column' />");
          new_actions.append("<img src='/img/delete.png' class='action delete' />");
          new_actions.appendTo(new_div.parent());
          new_actions.find("img").unbind('click');
          new_actions.find("img").bind('click', function(event) {
            event.stopPropagation();
            $(this).parent().parent().remove();
          });
          subtasks.append(new_div.parent());
        <% end %>
        $("#subtasks ol").append(subtasks.children())
                         .find(".placeholder").remove();
      <% end %>
    <% end %>
    $("#tasks li").draggable({
      appendTo: "body",
      helper: "clone"
    });
    $("#subtasks ol").droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      accept: ":not(.ui-sortable-helper)",
      drop: function(event, ui) {
        $(this).find(".placeholder").remove();
        name_div = ui.draggable.find(".name_column");
        new_div = $("<div></div>").text(name_div.text());
        new_div.appendTo(this);
        new_div.attr("data-content", name_div.attr("data-content"));
        new_div.attr("title", name_div.attr("title"));
        new_div.addClass("name_column");
        new_div.wrapAll("<li data-uid='" + ui.draggable.attr("data-uid") + "' ></li>");

        new_actions = $("<div class='actions_column' />");
        new_actions.append("<img src='/img/delete.png' class='action delete' />");
        new_actions.appendTo(new_div.parent());
        new_actions.find("img").unbind('click');
        new_actions.find("img").bind('click', function(event) {
          event.stopPropagation();
          $(this).parent().parent().remove();
        });
      }
    }).sortable({
      items: "li:not(.placeholder)",
      sort: function() {
        // gets added unintentionally by droppable interacting with sortable
        // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
        $(this).removeClass("ui-state-default ui-draggable-dragging");
      }
    });
  });
</script>
<div id="subtasks" class="ui-widget-content resource_list">
  <h2>Subtasks</h2>
  <ol class="zebra">
    <li class="placeholder">Drag tasks here</li>
  </ol>
</div>
<div id="tasks" class="resource_list">
  <h2>Tasks</h2>
  <%= erb :tasks, :layout => false %>
</div>
